.main-div-for-border-bottom {
  border-bottom: 1px solid rgb(58, 58, 58);
}

.flex-div-for-browse-theme {
  display: flex;
  gap: 90px;
}
.theme-image {
  width: 700px;
  height: 450px;
}
.second-div-of-flex-browse-theme {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 70px 0 0 0;
}
.second-div-of-flex-browse-theme h2 {
  font-size: 50px;
  font-weight: 800;
}
h2 {
  font-size: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.second-div-of-flex-browse-theme p {
  font-size: 22px;
}
.btn-for-the-browse-theme {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #004c3f;
  cursor: pointer;
  color: #004c3f;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  margin: 40px 0 0 0;
}

.btn-for-the-browse-theme:hover {
  background-color: #004c3f;
  color: White;
}
.div-for-theme-change-onclick {
  gap: 10px;
  display: flex;
  margin: 40px 0 0 0;
  align-items: center;
}
.icon-style {
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 425px) {
  .flex-div-for-browse-theme {
    display: block;
    width: 100%;
  }
  .second-div-of-flex-browse-theme {
    order: 1;
    padding: 1em;
  }
  .theme-image {
    width: 90%;
    order: 2;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 1em;
  }
  .div-for-theme-change-onclick {
    margin: 0;
  }
  .btn-for-the-browse-theme {
    margin: 0;
  }
}
